<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from preview.colorlib.com/theme/snipp/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 26 Jun 2025 06:41:05 GMT -->
<head>
    <script>
        (function(w,i,g){w[g]=w[g]||[];if(typeof w[g].push=='function')w[g].push(i)})
        (window,'G-SEKJ4E9T4H','google_tags_first_party');</script>
    <script async src="~/client/https://preview.colorlib.com/s9cc/"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('set', 'developer_id.dYzg1YT', true);
        gtag('config', 'G-SEKJ4E9T4H');
    </script>

    <title>Snipp - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="~/client/https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,700,800" rel="stylesheet">

    <link rel="~stylesheet" href="~/client/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/client/css/animate.css">

    <link rel="stylesheet" href="~/client/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/client/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/client/css/magnific-popup.css">

    <link rel="stylesheet" href="~/client/css/aos.css">

    <link rel="stylesheet" href="~/client/css/ionicons.min.css">

    <link rel="stylesheet" href="~/client/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/client/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/client/css/flaticon.css">
    <link rel="stylesheet" href="~/client/css/icomoon.css">
    <link rel="stylesheet" href="~/client/css/style.css">
</head>
<body>

    <!-- END nav -->
    @await Html.PartialAsync("_nav")
    <div class="container">
        <!-- <div class="js-fullheight"> -->
        <div class="hero-wrap js-fullheight">
            <div class="overlay"></div>
            <div id="particles-js"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
                    <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                        <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">We love to create <strong>Beautiful</strong> websites</h1>
                        <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a href="#" class="btn btn-primary btn-outline-white px-5 py-3">Get in touch</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-light">
            <section class="ftco-section-featured ftco-animate">
                <div class="container-fluid" data-scrollax-parent="true">
                    <div class="row no-gutters d-flex align-items-center" data-scrollax=" properties: { translateY: '-30%'}">

                        <div class="col-md-3 mb-3">
                            <a href="#" class="featured-img">
                                <div class="text-1 p-4 d-flex align-items-center">
                                    <h3>The Verge<br><span class="tag">Website</span></h3>
                                </div>
                                <img src="images/image_1.jpg" class="img-fluid" alt="">
                                <div class="text p-4 d-flex align-items-center">
                                    <div class="user d-flex align-items-center">
                                        <div class="user-img mr-3" style="background-image: url(images/person_1.jpg);"></div>
                                        <h3>John Bruce <br><span class="position">Designer</span></h3>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-6">
                            <div class="row no-gutters">
                                <div class="col-md-12">
                                    <div class="row no-gutters d-flex align-items-end">

                                        <div class="col-md-8">
                                            <a href="#" class="featured-img">
                                                <div class="text-1 p-4 d-flex align-items-center">
                                                    <h3>Racks<br><span class="tag">Website</span></h3>
                                                </div>
                                                <img src="images/image_5.jpg" class="img-fluid" alt="">
                                                <div class="text p-4 d-flex align-items-center">
                                                    <div class="user d-flex align-items-center">
                                                        <div class="user-img mr-3" style="background-image: url(images/person_1.jpg);"></div>
                                                        <h3>John Bruce <br><span class="position">Designer</span></h3>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="col-md-4">
                                            <a href="#" class="featured-img">
                                                <div class="text-1 p-4 d-flex align-items-center">
                                                    <h3>Zendesk<br><span class="tag">Website</span></h3>
                                                </div>
                                                <img src="images/image_4.jpg" class="img-fluid" alt="">
                                                <div class="text p-4 d-flex align-items-center">
                                                    <div class="user d-flex align-items-center">
                                                        <div class="user-img mr-3" style="background-image: url(images/person_1.jpg);"></div>
                                                        <h3>John Bruce <br><span class="position">Designer</span></h3>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="row no-gutters d-flex align-items-start">
                                        <div class="col-md-8">
                                            <a href="#" class="featured-img">
                                                <div class="text-1 p-4 d-flex align-items-center">
                                                    <h3>Curator<br><span class="tag">Website</span></h3>
                                                </div>
                                                <img src="images/image_6.jpg" class="img-fluid" alt="">
                                                <div class="text p-4 d-flex align-items-center">
                                                    <div class="user d-flex align-items-center">
                                                        <div class="user-img mr-3" style="background-image: url(images/person_1.jpg);"></div>
                                                        <h3>John Bruce <br><span class="position">Designer</span></h3>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-md-4">
                                            <a href="#" class="featured-img">
                                                <div class="text-1 p-4 d-flex align-items-center">
                                                    <h3>Tasty<br><span class="tag">Website</span></h3>
                                                </div>
                                                <img src="images/image_3.jpg" class="img-fluid" alt="">
                                                <div class="text p-4 d-flex align-items-center">
                                                    <div class="user d-flex align-items-center">
                                                        <div class="user-img mr-3" style="background-image: url(images/person_1.jpg);"></div>
                                                        <h3>John Bruce <br><span class="position">Designer</span></h3>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <a href="#" class="featured-img">
                                <div class="text-1 p-4 d-flex align-items-center">
                                    <h3>Voyage<br><span class="tag">Website</span></h3>
                                </div>
                                <img src="images/image_2.jpg" class="img-fluid" alt="">
                                <div class="text p-4 d-flex align-items-center">
                                    <div class="user d-flex align-items-center">
                                        <div class="user-img mr-3" style="background-image: url(images/person_1.jpg);"></div>
                                        <h3>John Bruce <br><span class="position">Designer</span></h3>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                  
                </div>
            </section>
        </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    <br />
    <br />
   
       
        @RenderBody()
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
       
      
    </div>

    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Snipp.</h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-5">
                        <h2 class="ftco-heading-2">Quick Links</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Home</a></li>
                            <li><a href="#" class="py-2 d-block">Case studies</a></li>
                            <li><a href="#" class="py-2 d-block">Services</a></li>
                            <li><a href="#" class="py-2 d-block">Portfolio</a></li>
                            <li><a href="#" class="py-2 d-block">About</a></li>
                            <li><a href="#" class="py-2 d-block">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Contact Information</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">198 West 21th Street, Suite 721 New York NY 10016</a></li>
                            <li><a href="#" class="py-2 d-block">+ 1235 2355 98</a></li>
                            <li><a href="#" class="py-2 d-block"><span class="__cf_email__" data-cfemail="90f9fef6ffd0e9ffe5e2e3f9e4f5bef3fffd">[email&#160;protected]</span></a></li>
                            <li><a href="#" class="py-2 d-block"><span class="__cf_email__" data-cfemail="20454d41494c60454d41494c0e434f4d">[email&#160;protected]</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com/" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>



    <!-- loader -->
   

    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/jquery.timepicker.min.html"></script>
    <script src="js/particles.min.js"></script>
    <script src="js/particle.js"></script>
    <script src="js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&amp;sensor=false"></script>
    <script src="js/google-map.js"></script>
    <script src="js/main.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>

    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"rayId":"955ab783ad2e3ffc","version":"2025.6.2","serverTiming":{"name":{"cfExtPri":true,"cfEdge":true,"cfOrigin":true,"cfL4":true,"cfSpeedBrain":true,"cfCacheStatus":true}},"token":"cd0b4b3a733644fc843ef0b185f98241","b":1}' crossorigin="anonymous"></script>
</body>

<!-- Mirrored from preview.colorlib.com/theme/snipp/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 26 Jun 2025 06:41:34 GMT -->
</html>